@import 'grid';
@import 'nav';
@import 'modal';
@import 'pagination';
@import 'post';
@import 'theme';
@import "ember-mdi";

body {
    background-color: black;
    font: $font-stack;
    color: white;
}

