.navbar {
    background-color: grey;
    border-radius: 4px;
}
.navbar-title {
    color: aquamarine;
    font-size: 24px;
    float: left;
}
body {
    background-color: black;
    color: white;
}
.container{
    display: grid;
}
.item{
    background-color: grey;
    border-radius: 4px;
}