@import 'modal';
@import 'pagination';
@import 'nav';

body {
    background-color: black;
    color: white;
}
.container {
    display: grid;
}
.item {
    background-color: grey;
    border-radius: 4px;
}

