<div class="container">
    <nav class="navbar">
        <div class="navbar-title">
            IZEA Front-End Interview
        </div>
    </nav>

    <div class="content">
        <PostList />
    </div>
</div>